pandas==0.21.1
requests
beautifulsoup4
xlrd
matplotlib
seaborn
weightedstats

git+https://github.com/psychemedia/openHealthDataDoodles.git@cli_winter_sitrep
git+https://github.com/psychemedia/python-natural-time-periods.git
git+https://github.com/psychemedia/python-pandas-datareader-NHSDigital.git

inflect
python-dateutil

#Common extensions
jupyter_contrib_nbextensions
